<% unless @customers.empty? %>
  <div class="card border-secondary text-secondary">
    <h4 class="card-header">Customer</h4>
    <div class="card-body text-secondary">
      <div class="table-responsive-sm">
        <table class="table table-hover table-bordered table-sm">
          <thead class="thead-light">
            <tr>
              <th scope="col">Account number</th>
              <th scope="col">Customer name</th>
              <th scope="col">Email</th>
              <th scope="col" class="text-right">Account created on</th>
              <th scope="col" class="text-right">Balance</th>
            </tr>
          </thead>
          <tbody>
            <% @customers.each do |customer| %>
              <tr>
                <td><%= link_to customer.account_number, admin_customer_detail_path(customer) %></th>
                <td><%= customer.name %></td>
                <td><%= customer.email %></td>
                <td class="text-right"><%= customer.created_at.strftime("%d-%b-%Y %H:%M:%S") %></td>
                <td class="text-right"><%= number_to_currency(customer.balance_amount, unit: 'Rs ') %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
